@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

input,
select,
textarea,
button {
  color: inherit;
  background-color: inherit;
}

body,
button,
input,
select,
textarea,
a,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
}
